anyio==3.6.2
asgiref==3.4.1
boto3==1.23.10
botocore==1.26.10
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
DateTime==4.9
fastapi==0.83.0
cloud-sql-python-connector==1.15.0
h11==0.13.0
idna==3.10
immutables==0.19
importlib-metadata==4.8.3
jmespath==0.10.0
pg8000==1.26.0
pydantic==1.9.2
python-dateutil==2.9.0.post0
pytz==2024.2
s3transfer==0.5.2
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
SQLAlchemy==1.4.54
typing==3.7.4.3
typing-extensions==4.1.1
urllib3==1.26.20
uvicorn==0.16.0
zipp==3.6.0
zope.interface==5.5.2